.jumbotron {
    text-align: center;
    margin: 0% auto;
}

.game_column {
    text-align: center;
    margin-left: 0%;
}

.answer_column {
    text-align: center;
}

.wrong_remaining {
    text-align: center;
}