.jumbotron {
    text-align: center;
    margin: 0% auto;
}


.display-4 {
    margin-top: -25px;
}

.lead {
    margin-bottom: -15px;
}

.game_column {
    text-align: center;
}

.answer_column {
    text-align: center;
}

.wrong_remaining {
    text-align: center;
}